[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
div.wrapper-container {
    margin:0 auto;
    width: 80%;
    padding: 8px;
}

.grid-config {
background: #00a0e9;
height: 120px;
line-height: 120px;
font-size: 13px;
}