<!-- NG-ZORRO -->
<div class="wrapper-container">
    <h3>ng-ant-Layout</h3>
    <br>
    <h3>Layout-1</h3>
    <nz-layout>
        <nz-header>Header</nz-header>
        <nz-content>Content</nz-content>
        <nz-footer>Footer</nz-footer>
    </nz-layout>

    <hr>

    <h3>Layout-2</h3>
    <nz-layout>
        <nz-header>Header</nz-header>
        <nz-layout>
          <nz-sider>Sider</nz-sider>
          <nz-content>Content</nz-content>
        </nz-layout>
        <nz-footer>Footer</nz-footer>
      </nz-layout>

      <hr>
      <h3>Layout-3</h3>
      <nz-layout>
          <nz-header>Header</nz-header>
          <nz-layout>
            <nz-content>Content</nz-content>
            <nz-sider>Sider</nz-sider>
          </nz-layout>
          <nz-footer>Footer</nz-footer>
      </nz-layout>

      <hr>
      <h3>Layout-4</h3>
      <nz-layout>
          <nz-sider>Sider</nz-sider>
          <nz-layout>
            <nz-header>Header</nz-header>
            <nz-content>Content</nz-content>
            <nz-footer>Footer</nz-footer>
          </nz-layout>
        </nz-layout>
</div>